CoreAngular.AdventureWorks/SqliteModel/ContactTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/ContactTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/ContactTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="telephoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="number" type="xs:string" />
        <xs:element name="SpecialInstructions" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="homePostalAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Street" type="xs:string" />
        <xs:element name="City" type="xs:string" />
        <xs:element name="StateProvince" type="xs:string" />
        <xs:element name="PostalCode" type="xs:unsignedInt" />
        <xs:element name="CountryRegion" type="xs:string" />
        <xs:element name="SpecialInstructions" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eMailAddress" type="xs:string" />
        <xs:element name="SpecialInstructions">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="telephoneNumber">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="number" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>